/Admin$umplesourcefile.class
/Admin.class
/Course$umplesourcefile.class
/Course.class
/FileManager.class
/Lesson$umplesourcefile.class
/Lesson.class
/ScheduleClient.class
/ScheduleServer.class
/Task$umplesourcefile.class
/Task.class
/TestCase.class
/Update$umplesourcefile.class
/Update.class
/User$umplesourcefile.class
/User.class
